body {
  text-align: center;
}

h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.image {
  background-image: image(".resources/images/he-flatiron-building.png");
}
